<a href="https://colab.research.google.com/github/lakepicnic/Section_project/blob/main/Section1_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Goal of project

**다음 분기에 어떤 게임을 설계해야할까**

반드시 들어가야 하는 내용
- 지역에 따라서 선호하는 게임 장르가 다를까?
- 연도별 게임의 트랜드가 있을까?
- 출고량의 높은 게임에 대한 분석 및 시각화 프로세스가 포함되어야 함.

In [1]:
# 데이터 업로드
from google.colab import files
uploaded = files.upload()

Saving vgames2.csv to vgames2.csv

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('vgames2.csv')
df

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,1,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
1,2,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
2,3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
3,4,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
4,5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04
...,...,...,...,...,...,...,...,...,...,...
16593,16594,Ice Age 2: The Meltdown,GC,2006.0,Platform,Vivendi Games,0.15,0.04,0,0.01
16594,16595,Rainbow Islands: Revolution,PSP,2005.0,Action,Rising Star Games,0.01,0,0,0
16595,16596,NBA 2K16,PS3,2015.0,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13
16596,16597,Toukiden: The Age of Demons,PSV,2013.0,Action,Tecmo Koei,0.05,0.05,0.25,0.03
16597,16598,The King of Fighters '95,PS,1996.0,Fighting,Sony Computer Entertainment,0,0,0.16,0.01

In [4]:
df = df.iloc[:,1:]

In [5]:
# 데이터 중 중복된 데이터 제거 -> 결측치 한 개 정체가 뭐야 너
df.duplicated().sum()

1

In [6]:
#결측치 확인
df.isna().sum()

Name             0
Platform         0
Year           271
Genre           50
Publisher       58
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
dtype: int64

In [7]:
df[df['Year'].isnull() | df['Genre'].isnull() | df['Publisher'].isnull()]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
31,Rock Band,X360,NaN,Misc,Electronic Arts,1.93,0.34,0,0.21
50,Ape Escape: On the Loose,PSP,2005.0,NaN,Sony Computer Entertainment,0.52,0.01,0.12,0.05
109,Yu-Gi-Oh! 5D's Wheelie Breakers (JP sales),Wii,NaN,Racing,Unknown,0,0,0.02,0
272,UK Truck Simulator,PC,2010.0,Simulation,NaN,0,0.03,0,0
273,Jewel Link Chronicles: Mountains of Madness,DS,NaN,Puzzle,Avanquest,0,0.06,0,0.01
...,...,...,...,...,...,...,...,...,...
16425,Yoostar on MTV,X360,NaN,Misc,Unknown,0.06,0,0,0
16431,Cars: Mater-National Championship,X360,2007.0,NaN,THQ,0.13,0,0,0.01
16432,Bejeweled 3,X360,NaN,Puzzle,Unknown,0.13,0,0,0.01
16555,Apache: Air Assault,PC,2010.0,NaN,Just Flight,0,0.03,0,0.01
16587,Need for Speed Underground 2,XB,2004.0,NaN,Electronic Arts,1.38,0.8,0,0.1

In [8]:
df_yg = df.copy()

In [77]:
#연도별 게임 트렌드에서는 Publisher의 결측치가 데이터에 영향을 미치지 않기 때문에 Year와 Genre에 해당하는 결측치만 제거해줌
df_yg.dropna(subset=['Year','Genre'], inplace = True)
df_yg.isna().sum()

Name            0
Platform        0
Year            0
Genre           0
Publisher      36
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
dtype: int64

In [84]:
df_yg[['Year']].sort_values()

TypeError: ignored

In [72]:
df_yg['Genre',''].value_counts()

Action          3305
Sports          2341
Misc            1734
Role-Playing    1483
Shooter         1308
Adventure       1280
Racing          1243
Platform         884
Simulation       865
Fighting         847
Strategy         680
Puzzle           578
Name: Genre, dtype: int64

In [65]:
df_yg.groupby(['Year','Genre']).size()

Year    Genre
0.0     Platform         1
        Shooter          1
        Strategy         1
1.0     Racing           1
        Sports           1
                        ..
2016.0  Sports          37
        Strategy        10
2017.0  Action           1
        Role-Playing     2
2020.0  Simulation       1
Length: 467, dtype: int64

In [13]:
df_yg.groupby('Year')['Genre'].size()

Year
0.0         3
1.0         2
2.0         3
3.0         7
4.0         4
         ...
2014.0    580
2015.0    606
2016.0    339
2017.0      3
2020.0      1
Name: Genre, Length: 62, dtype: int64